.google-reviews {
  width: 100%;
  padding: 5px 5px;
  margin-top: 30px;
  max-width: 100%;
  overflow: hidden;
}

.google-reviews * {
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .google-reviews {
    padding-inline: 0;
  }

  .google-reviews > * {
    max-width: 100%;
  }
}